.navfont .nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: black !important;
    font-weight: 200;
}

.nav-link:after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    width: 0;
    -webkit-transition: 0.2s ease;
            transition: 0.2s ease;
    }
    
.nav-link:hover:after { width: 100%; }

.mybor{
    border: 1px solid #0B3D91;
}